body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.canvas-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.dot {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  height: 24px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 24px;
}

.dot:focus {
  outline: none;
}

.kbd-navigation .dot:focus {
  background: #ddd;
}

.board {
  display: flex;
  flex-direction: row;
}

.board-info {
  margin-left: 20px;
}

.downloads {
  margin-top: 16px;
}

svg {
  border: 1px solid #ccc;
}

ul {
  list-style: none;
  padding-left: 0;
}

.dot-size {
  width: 3rem;
  margin: 8px 4px;
  text-align: right;
}